# Allow everyone to use these devices
# /dev/cuse can stay  mode 0660 root:root since osspd is run as root
# and drops privileges to user level when opened by user
KERNEL=="dsp", SUBSYSTEM=="cuse", MODE="0666"
KERNEL=="mixer", SUBSYSTEM=="cuse", MODE="0666"
KERNEL=="adsp", SUBSYSTEM=="cuse", MODE="0666"
